@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

html {
    height: auto;
}

body {
    margin: 0;
    background: linear-gradient(253deg, #862AE2 0%, #3DF9FD 100%);
}

.header{
    position: relative;
}

.root__section{
    max-width: 1280px;
    margin: 0 auto;
}

.header__logo {
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    width: 87px;
}

.header__info{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main__title{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 70px;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.9%;
}

.main{
    padding-bottom: 550px;
}

.main__title-highlight{
    margin: 0;
    background-color: #F3794C; 
}

.main__title-highlight-concert{
    margin: 0;
    background-color: #FF00E5; 
}

.main__title-highlight-object{
    margin: 0;
    background-color: #AECC37; 
}

.main__vpn{
    margin-left: 235px;
    z-index: 1;
}

.main__sphere{
    width: 344px;
    margin-left: -50px;
    margin-top: -10px;
    position: absolute;
    z-index: -3;
}

.mail__glasses{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -3;
}

.main__robot {
    z-index: -10;
    position: absolute;
    right: 1%;
}

.main__image-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.main__cube{
    margin-left: -580px;
    margin-top: 80px;
}

.main__elipse{
    /* object-fit: cover; */
    margin-left: -300px;
    margin-top: -200px;
    transform: rotate(90deg);
}

.main__sneakers{
    position: absolute;
    object-fit: cover; object-position: 100% 0;
    top: 300px;
    right: 0px;
    /* margin-right: -100px; */
    z-index: -1;
}

.main__torus{
    position: absolute;
    object-fit: cover; object-position: 100% 0;
    top: 0px;
    left: 0px;
}

.footer{
    height: 75px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__container{
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__logo1{
    width: 85px;
    height: 36px;
}

.footer__logo2{
    width: 94px;
    height: 36px;
}

.footer__brothers-logo {
    width: 157px;
    height: 31px;
}

.main__timer-value{
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.9%;
    margin: 0;
    margin-top: 50px;
}
.main__timer-title{
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.9%;
    margin: 0;
    margin-bottom: 34px;
}

.main__button{
    margin: 0 auto;
    width: 277px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    margin-bottom: 34px;
    background: radial-gradient(316.05% 462.44% at 19.79% -110.34%, #75FFE6 0%, #00B3DB 100%);
    box-shadow: 0 1px 15px #5e5d5b;
    border: none;
    font-size: 41px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: 107.9%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.main__urban-walk-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 65px;
    left: 0px;
    z-index: -2;
}

.main__vr-graphics-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 1225px;
    left: 0px;
    z-index: -1;
}

.main__urban-walk{
    margin-left: -350px;
    margin-top: 0px;
}

.main__vr-graphics{
    margin-left: -150px;
    margin-top: 0px;
}
